pypandoc==1.14
imageio==2.35.1
numpydoc==1.8.0
imageio-ffmpeg==0.5.1
Sphinx==8.0.2
sphinxcontrib-napoleon==0.7
sphinxcontrib-websupport==2.0.0
pytest-sphinx==0.6.3
sphinx-notfound-page==1.0.4
sphinx-copybutton==0.5.0
sphinx-gallery==0.18.0
ansys_sphinx_theme==1.1.4
sphinx-autodoc-typehints==2.5.0
pyvista==0.44.1
